body {
  display: block;
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: sans-serif;
  color: #926239;
}
.header-article-bg {
  height: 100vh;
  background-image: url(./../images/beachshowcase.jpg);
  background-position: center;
  background-size: cover;
  color: #926239;
  font-size: 1.4em;
  text-align: center;
}
.wrapper {
  padding: 30vw 5vw 35vw;
}
.header {
  display: block;
  margin: 0 auto;
  text-transform: capitalize;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.header-content {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn {
  display: block;
  width: max-content;
  max-width: 125px;
  margin: 20px auto 0;
  border: 1px #926239 solid;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: capitalize;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-content > p {
  box-sizing: border-box;
  width: 100vw;
  min-height: max-content;
  margin: 0;
  padding: 15px;
  padding-right: 20px;
  text-align: center;
}
.collums {
  display: inline-block;
  box-sizing: border-box;
  width: 33.333%;
  min-height: 220px;
  max-height: max-content;
  padding: 15px;
  padding-right: 20px;
  margin: 0;
  vertical-align: top;
  text-align: left;
}
.change-bg {
  background-color: #926239;
  color: white;
}
