body {
  display: block;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: sans-serif;
  color: #926239;
}
.header-article-bg {
  height: 100vh;
  color: #926239;
  background-image: url(./../images/beachshowcase.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
   
}
.wrapper{
  padding: 30vw 5vw 35vw;
}
.header{
  
  display: block;
  margin: 0 auto;
padding: auto auto;
text-transform: capitalize;
overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.header-content{
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.btn {
  display: block;
  width: max-content;
  margin: 20px auto 0;
  border: 1px #926239 solid;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.main-content>p {
  width: 100vw;
  min-height: max-content;
  margin: 0;
  padding: 15px;
  
}
.collums {
  display: inline-block;
  box-sizing: border-box;
  width: 33.333%;
  min-height: 220px;
  max-height: max-content;
  vertical-align: top;
  text-align: left;
  padding: 15px;
  }
.change-bg {
  background-color: #926239;
  color: white;
}
